{% extends "Admin/base.html.twig" %}

{% block title %}Products{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">
            Products
        </h1>
    </div>

    <table id="products" class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">SKU</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Promotion</th>
            <th scope="col">Enabled</th>
            <th scope="col">Created at</th>
            <th scope="col">Updated at</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for product in products %}
            <tr class="product_{{ product.id }}">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.sku }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.promotion }}%</td>
                <td>
                    <i data-id="{{ product.status }}" onclick="publish({{ product.status }}, {{ (product.status) ? 'true' : 'false' }})" class="mdi mdi-18px mdi-{{ (product.status) ? 'checkbox-marked-circle-outline text-success' : 'checkbox-blank-circle-outline text-danger' }}"></i>
                </td>
                <td>{{ product.createdAt|localizeddate('medium', 'medium', null, 'UTC') }}</td>
                <td>{{ product.updatedAt|localizeddate('medium', 'medium', null, 'UTC') }}</td>
                <td>
                    <a href="{{ path('admin_product_edit', {id: product.id}) }}">
                        <i class="mdi mdi-pencil mdi-18px"></i>
                    </a>

                    <a href="#" data-toggle="modal" data-target="#delete-product-{{ product.id }}">
                        <i class="mdi mdi-delete mdi-18px text-danger"></i>
                    </a>
                </td>
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="delete-product-{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="delete-product-{{ product.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this product?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            This action cannot be undone.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <form action="{{ url('admin_product_delete', {id: product.id}) }}" method="post" data-confirmation="true" id="delete-form">
                                <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                                <button type="submit" class="btn btn-primary">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/admin/products.js') }}"></script>
{% endblock %}