<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Projet pluritechnique encadré 2, BTS S.I.O. S.L.A.M">
    <meta name="author" content="Kevin Allard">

    <title>{% block title %}Welcome!{% endblock %} · Mygavolt</title>

    {% block stylesheets %}
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
    {% endblock %}
</head>

<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Mygavolt</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-outline-secondary" href="{{ path('registration') }}">Sign up</a>
        <a class="btn btn-outline-primary" href="{{ path('login') }}"><i class="mdi mdi-login"></i> Sign in</a>
    </nav>
</div>

<div class="container">
    {% block body %}{% endblock %}

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">&copy; 2017-{{ "now"|date("Y") }} · Mygavolt</small>
            </div>
            {#<div class="col-6 col-md">#}
            {#<h5>Features</h5>#}
            {#<ul class="list-unstyled text-small">#}
            {#<li><a class="text-muted" href="#">Cool stuff</a></li>#}
            {#<li><a class="text-muted" href="#">Random feature</a></li>#}
            {#<li><a class="text-muted" href="#">Team feature</a></li>#}
            {#<li><a class="text-muted" href="#">Stuff for developers</a></li>#}
            {#<li><a class="text-muted" href="#">Another one</a></li>#}
            {#<li><a class="text-muted" href="#">Last time</a></li>#}
            {#</ul>#}
            {#</div>#}
            {#<div class="col-6 col-md">#}
            {#<h5>Resources</h5>#}
            {#<ul class="list-unstyled text-small">#}
            {#<li><a class="text-muted" href="#">Resource</a></li>#}
            {#<li><a class="text-muted" href="#">Resource name</a></li>#}
            {#<li><a class="text-muted" href="#">Another resource</a></li>#}
            {#<li><a class="text-muted" href="#">Final resource</a></li>#}
            {#</ul>#}
            {#</div>#}
            {#<div class="col-6 col-md">#}
            {#<h5>About</h5>#}
            {#<ul class="list-unstyled text-small">#}
            {#<li><a class="text-muted" href="#">Team</a></li>#}
            {#<li><a class="text-muted" href="#">Locations</a></li>#}
            {#<li><a class="text-muted" href="#">Privacy</a></li>#}
            {#<li><a class="text-muted" href="#">Terms</a></li>#}
            {#</ul>#}
            {#</div>#}
        </div>
    </footer>
</div>

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
