<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Projet pluritechnique encadré 2, BTS S.I.O. S.L.A.M">
    <meta name="author" content="Kevin Allard">

    <title>{% block title %}Welcome!{% endblock %} · Mygavolt</title>

    {% block stylesheets %}
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
    {% endblock %}
</head>

<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Mygavolt</h5>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }}">{{ 'menu.home'|trans }}</a>
                </li>
                <li class="nav-item dropdown">
                    {{ render(controller('App\\Controller\\NavController::categoriesList')) }}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('catalog', {'slug': 'promotions'}) }}">
                        Promotions
                    </a>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('dashboard') }}">
                            Dashboard
                        </a>
                    </li>
                {% endif %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('logout') }}"><i class="mdi mdi-logout"></i> {{ 'menu.sign_out'|trans }}</a>
                    </div>
                </li>
            </ul>
            {% else %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="{{ path('registration') }}">
                            {{ 'menu.sign_up'|trans }}
                        </a>

                        <a class="btn btn btn-outline-secondary" href="{{ path('login') }}">
                            <i class="mdi mdi-login"></i> {{ 'menu.sign_in'|trans }}
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
</div>

<div class="container">

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">&copy; 2017-{{ "now"|date("Y") }} · Mygavolt</small>
                <small class="d-block mb-3 text-muted">Site à usage scolaire uniquement, nous ne vendons aucun produits présentés</small>
            </div>
            {#<div class="col-6 col-md">#}
            {#<h5>Features</h5>#}
            {#<ul class="list-unstyled text-small">#}
            {#<li><a class="text-muted" href="#">Cool stuff</a></li>#}
            {#<li><a class="text-muted" href="#">Random feature</a></li>#}
            {#<li><a class="text-muted" href="#">Team feature</a></li>#}
            {#<li><a class="text-muted" href="#">Stuff for developers</a></li>#}
            {#<li><a class="text-muted" href="#">Another one</a></li>#}
            {#<li><a class="text-muted" href="#">Last time</a></li>#}
            {#</ul>#}
            {#</div>#}
            {#<div class="col-6 col-md">#}
            {#<h5>Resources</h5>#}
            {#<ul class="list-unstyled text-small">#}
            {#<li><a class="text-muted" href="#">Resource</a></li>#}
            {#<li><a class="text-muted" href="#">Resource name</a></li>#}
            {#<li><a class="text-muted" href="#">Another resource</a></li>#}
            {#<li><a class="text-muted" href="#">Final resource</a></li>#}
            {#</ul>#}
            {#</div>#}
            {#<div class="col-6 col-md">#}
            {#<h5>About</h5>#}
            {#<ul class="list-unstyled text-small">#}
            {#<li><a class="text-muted" href="#">Team</a></li>#}
            {#<li><a class="text-muted" href="#">Locations</a></li>#}
            {#<li><a class="text-muted" href="#">Privacy</a></li>#}
            {#<li><a class="text-muted" href="#">Terms</a></li>#}
            {#</ul>#}
            {#</div>#}
        </div>
    </footer>
</div>

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
