{% extends "base.html.twig" %}

{% block title %}Catalog{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-10">
            <h3>{{ category.name }}</h3>
        </div>
    </div>

    {% if products %}
        <div class="row">
            <div class="col-md-12">
                <table class="bordered">
                    <tbody>
                    {% for product in products %}
                        <tr class="row">
                            <td class="col-md-3">
                                <img width="100%" src="{{ asset('images/no-image.jpg') }}">
                            </td>
                            <td class="col-md-6">
                                <h4>{{ product.name }}</h4>
                                <p>{{ product.description|nl2br }}</p>
                            </td>
                            <td class="col-md-2 center-align red-text">
                                {% if product.promotion > 0 %}
                                    <h5 style="text-decoration: line-through;">{{ product.price }} &euro;</h5>
                                    <p style="font-weight: bold; color: red;">-{{ product.promotion }}%</p>
                                    <h4>
                                        {{ product.price - (product.price * product.promotion / 100) }} &euro;</h4>
                                {% else %}
                                    <h4>{{ product.price }} &euro;</h4>
                                {% endif %}

                                {% if product.stock != 0 %}
                                    <select id="quantity-product-{{ product.sku }}" class="form-control item_quantity">
                                        {% for i in 1..product.stock %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="quantity-product-{{ product.sku }}"></label>
                                {% else %}
                                    Produit épuisé
                                {% endif %}
                            </td>
                            {% if product.stock != 0 %}
                                <td class="col-md-1 center-align">
                                    <a style="color: #ffffff;" data-href="{{ path('add_to_cart', {sku: product.sku}) }}"
                                       data-id="{{ product.sku }}" class="btn btn-primary">
                                        <i class="mdi mdi-cart-plus mdi-18px"></i> Ajouter au panier
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h5>No product found</h5>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/cart.js') }}"></script>
{% endblock %}